.upper-left > h2{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #272222;
  
}

.main-parent{
    background-color: #ffffff;
    width: 30%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.parent-1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-block: 1px;
}

.upper-icons{
    width: 30px;
    height: 30px;
}

.upper-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

.parent-2{
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.upper-headers{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #494545;
}

.all > p, .unread > p, .favourates > p, .groups > p{
    background-color: #f0f0f0;;
    height: 25px;
    padding-top: 10px;
    padding-inline: 10px;
    font-size: 13px;
    border-radius: 25px;
}

#this{
    background-color: #cfcfcf;
    border-radius: 15px;
}

.chats{
    /* background-color: #c2c1c1; */
    height: 50px;
    margin-block: 10px;
    cursor: pointer;
}

.profile-pic > img{
    height: 48px;
}

.left{
    display: flex;
    /* gap: 5px; */
    flex-direction: row;
}
.user-name-and-message{
    height: 45px;
}

.name{
    margin-top: 3px;
    margin-left: 10px;
    font-weight: 600;
}

.message{
    margin-top: -11px;
    margin-left: 10px;
    opacity: 0.7;
    font-size: 12px;
}

.add-people{
    background-color: #272222;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    position: fixed;
    bottom: 90px;
    right: 35.5%;
    z-index: 2;
}

.meta-ai{
    position: fixed;
    bottom: 140px;
    right: calc(35.5% + 3px);
    z-index: 2;
}

.fixed {
    background: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.parent-3 {
    flex: 1;
    overflow-y: auto;
    position: relative;
}
.icons{
    width:30px ;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.parent-4{
    display: flex;
    gap: 60px;
}
.down-fixed{
    margin-left: 5px;
}
